{% extends 'tb_track_app/index/tb_track_base.html' %}

{% block title %}Login{% endblock %}

{% block content %}
<div class="container">
    <div class="container-fluid justify-content-center justify-content-sm-center 
justify-content-md-center justify-content-lg-center justify-content-xl-center justify-content-xxl-center">
        <div class="col-11 col-sm-11 col-md-11 col-lg-11 col-xl-11  col-xxl-11 offset-1 offset-md-1 offset-sm-1">
            <div class="row mt-5">

                <h2 class="font-weight-bold">Reset Password</h2>
                <hr class="mb-4" />

                <div id="login">
                    <form class="form-horizontal mb-5 needs-validation" name="PasswordResetForm" method="post"
                        novalidate>
                        {% csrf_token %}

                        <div class="justify-content-center justify-content-sm-center 
                        justify-content-md-center justify-content-lg-center justify-content-xl-center justify-content-xxl-center">

                            <div class="col-8 col-sm-8 col-md-6 col-lg-6 col-xl-5 col-xxl-5 mt-5 position-relative">
                                <div class="form-floating">
                                    <select class="form-select" id="username" required>
                                        <option>-------</option>
                                        {% for user in users %}
                                        <option id={{user.id}}>{{user.username}}</option>
                                        {% endfor %}
                                    </select>
                                    <label for="user_category">Select a User </label>
                                    <div class="invalid-tooltip">
                                        Select a User.
                                    </div>
                                </div>
                            </div>

                            <div class="col-8 col-sm-8 col-md-6 col-lg-6 col-xl-5  col-xxl-5 mt-5 position-relative">
                                <div class="form-floating">
                                    <input type="password" class="form-control" id="password1" placeholder="Password"
                                        onfocusout="checkPassword1()" required>
                                    <span id="spn-password1" style="color: red; size: 10px;"></span>
                                    <label for="password1">New Password</label>
                                    <div class="invalid-tooltip">
                                        Your password must contain at least 8 characters
                                    </div>
                                </div>
                            </div>

                            <div class="col-8 col-sm-8 col-md-6 col-lg-6 col-xl-5  col-xxl-5 mt-5 position-relative">
                                <div class="form-floating">
                                    <input type="password" class="form-control" id="password2"
                                        onfocusout="checkPassword()" placeholder="Password" required>
                                    <span id="spn-password2" style="color: red; size: 10px;"></span>
                                    <label for="password2">Reenter password:</label>
                                    <div class="invalid-tooltip">
                                        Enter the same password as before, for verification.
                                    </div>
                                </div>
                            </div>


                            <div
                                class="col-8 col-sm-8 col-md-8 col-lg-8 col-xl-8 mt-3 col-xxl-8 my-3 justify-content-center d-flex  mt-5">
                                <div class="signup-div">
                                    <button type="button" class="btn btn-primary" id="signupbtn"
                                        onclick="formValidator()">Reset Password</button>
                                </div>
                            </div>

                            {% if form.non_field_errors %}
                            <ul class="alert " role="alert" style="list-style-type:none;">
                                {% for error in form.non_field_errors %}
                                <li class="link-alert"> <b>{{ error }}</b></li>
                                {% endfor %}
                            </ul>
                            {% endif %}
                        </div>
                    </form>
                </div>
            </div>
        </div>


        <!-- modal Dialog box -->
        <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
            aria-labelledby="modal-title" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-header">
                        <p class="modal-title" id="modal-title"></p>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>

                    <div class="modal-body">
                        <p class="modal-body" id="body-modal"></p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.10.1/umd/popper.min.js"></script> -->
<script>

    function checkPassword1() {
        password1 = $('#password1').val();

        // If password not entered
        if (password1 == '') {
            $('#spn-password1').html("*Password field cant be empty")
        }
    }

    function checkPassword() {
        password1 = $('#password1').val();
        password2 = $('#password2').val();

        // If password not entered
        if (password1 == '') {
            $('#spn-password1').html("*Password field cant be empty")
        }
        else if (password2 == '') {
            $('#spn-password2').html("*Password field cant be empty")
        }
        else if (password1 == '' && password2 == '') {
            $('#spn-password1').html("*Password field cant be empty")
            $('#spn-password2').html("*Pleased reenter the same passoword")

        }

        else if (password1 != password2) {
            // $('#password1').tooltip('show')
            $('#spn-password1').html("*Password did not match: Please try again...")
            $('#spn-password2').html("*Password did not match: Please try again...")
        }

        // If same return True.
        else {
            $('#spn-password1').html("")
            $('#spn-password2').html("")
            // alert("Password Match: Welcome to GeeksforGeeks!")

        }
    }

    $('#staticBackdrop').on('hidden.bs.modal', function (e) {
        location.reload();
    });

    function formValidator() {
        console.log("form validation")

        'use strict'

        var forms = document.querySelectorAll('.needs-validation')

        var validation = Array.prototype.filter.call(forms, function (form) {
            if (!form.checkValidity()) {
                event.preventDefault()
                event.stopPropagation()
            }
            form.classList.add("was-validated");
        });

        let username = document.querySelector("#username");
        let password1 = document.querySelector("#password1");
        let password2 = document.querySelector("#password2");


        // If form valid then submit the data's
        if (username.checkValidity() === true && password1.checkValidity() === true && password2.checkValidity() === true) {

            let username = $('#username').val();
            let password1 = $('#password1').val();
            let password2 = $('#password2').val();
            console.log(username, password1, password2)
            $.post('', {

                username: username,
                password1: password1,
                password2: password2,
                'csrfmiddlewaretoken': '{{ csrf_token }}'
            },
                function (data, status) {
                    console.log(data)
                    $('#status-final').text('');
                    // if contact details exist
                    if (data == 409) {
                        console.log(data)
                        $('#modal-title').html('Error !')
                        $('#body-modal').html('Password Reset failed');
                        var myModal = new bootstrap.Modal(document.getElementById('staticBackdrop'), {
                            keyboard: false
                        })
                        myModal.show()
                    }

                    else if (data == 200) {

                        console.log(data)

                        $('#modal-title').html('Success!.')
                        $('#body-modal').html('Password reset successfully for ' + username);
                        var myModal = new bootstrap.Modal(document.getElementById('staticBackdrop'), {
                            keyboard: false
                        })
                        myModal.show()
                    }

                });
            return false;
        }

    }

</script>
{% endblock %}