{% extends 'tb_track_app/index/tb_track_base.html' %}
{% load static %}


{% block content %}
    <div class="container text-center">

        <div class="col-md-10 col-10 offset-md-1 my-5">
            <h1 class="mb-3">Login Summary</h1>
            <table id="logins-data" class="table table-bordered nowrap align-middle" style="width:100%">
                <thead>
                    <tr>
                        <th scope="col">ID</th>
                        <th scope="col">User ID</th>
                        <th scope="col">User Name</th>
                        <th scope="col">Full Name</th>
                        <th scope="col">Category</th>
                        <th scope="col">Last Login</th>
                        
                    </tr>
                </thead>
                <tbody>
                    
                    {% for user in user_details %}
                    {%if user.username != 'root'%}
                    <tr class="w-auto">
                       
                        <td> {{user.user_id}}</td>
                        <td> {{user.user_id_field}}</td>
                        <td> {{user.username}}</td>
                        <td> {{user.name}}</td>

                        {% if user.user_category == '1' %}
                        <td> {{"MD"}}</td>
                        {% elif user.user_category == '2' %}
                        <td> {{"Trainer"}}</td>
                        {% elif user.user_category == '3' %}
                        <td> {{"Trainee"}}</td>
                        {% elif user.user_category == '4' %}
                        <td> {{"Common"}}</td>
                        {% elif user.user_category == '' %}
                        <td> {{""}}</td>
                        {%endif%}
                        <td> {{user.last_login}}</td>
                        
                    </tr>
                    {%endif%}
                    {%endfor%}

                    
                </tbody>
            </table>
        </div>
    </div>
<script src="https://code.jquery.com/jquery-3.5.1.js"></script>
<script src="https://cdn.datatables.net/1.10.25/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/1.11.1/js/dataTables.bootstrap5.min.js"></script>
<script src="https://cdn.datatables.net/select/1.3.3/js/dataTables.select.min.js"></script>


<script>
    $(document).ready(function () {

        $('table').DataTable(
            {
                scrollX: true,
                scrollCollapse: true,
                responsive: true,
                // columnDefs: [{
                //     orderable: false,
                //     className: 'select-checkbox',
                //     targets: 0

                // }],
                // select: {
                //     style: 'multi',
                //     selector: 'td:first-child'
                // },

                order: [[1, 'asc']],
                // "columnDefs": [
                //     {
                //         "targets": [1],
                //         "visible": false,
                //         "searchable": false
                //     }
                // ]
            }
        );
    });
</script>
{% endblock content %}