{%load static%}

<div class="brands text-center">
    <div class="brands-sec">
        <img src="{% static 'images/project03/logo-godrej.png' %}" alt="">
    </div>
    <div class="brands-sec">
        <img src="{% static 'images/project03/logo-oppo.png' %}" alt="">
    </div>
    <div class="brands-sec">
        <img src="{% static 'images/project03/logo-coca-cola.png' %}" alt="">
    </div>
    <div class="brands-sec">
        <img src="{% static 'images/project03/logo-paypal.png' %}" alt="">
    </div>
    <div class="brands-sec">
        <img src="{% static 'images/project03/logo-philips.png' %}" alt="">
    </div>
</div>