{% load static%}

<div class="container">
    <div class="row">
        <div class="col-md-4 prod-categories">
            <img src="{% static 'images/project03/category-1.jpg' %}" class="img-fluid img-1">
        </div>
        <div class="col-md-4 prod-categories">
            <img src="{% static 'images/project03/category-2.jpg' %}" class="img-fluid img-2">
        </div>
        <div class="col-md-4 prod-categories">
            <img src="{% static 'images/project03/category-3.jpg' %}" class="img-fluid img-1">
        </div>
    </div>
</div>