{%load static%}

<div class="container">
    <div class="row exclusive-row">
        <div class="col-md-6 right-exec">
            <p>Exclusively Available on RedStore</p>
            <h1>Smart Band 4</h1>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloremque ab consequuntur quis adipisci
                repellat in.</p>
            <div class="button-store text-center">
                <a href="#"><button type="button" class="btn-store" data-hover="Buy Now ">
                        <div><i class="fas fa-shopping-cart"></i></div>
                    </button></a>
            </div>
        </div>
        <div class="col-md-6 left-exec text-center">
            <img class="execlusive" src="{% static 'images/project03/exclusive.png' %}" class="img-fluid">
        </div>

    </div>
</div>