{% load static %}

    <div class="row featured-row ">
        <div class="header-txt">
            <h1 class="h1-txt text-center">Featured Products</h1>
        </div>
        <div class="features-col">
            <a href="#">
                <img src="{% static 'images/project03/product-1.jpg' %}" alt="" class="img-fluid img-1"></a>
            <div class="feature-desc">
                <h4>Red Printed T-Shirt</h4>
                <div class="rating">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="far fa-star"></i>
                </div>

                <p>&#x20B9 500.00</p>
            </div>
        </div>
        <div class="features-col">
            <img src="{% static 'images/project03/product-2.jpg' %}" alt="" class="img-fluid img-2">
            <div class="feature-desc">
                <h4>HRX Sports Shoes</h4>
                <div class="rating">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star-half-alt"></i>
                </div>
                <p>&#x20B9 750.00</p>
            </div>
        </div>
        <div class="features-col">
            <img src="{% static 'images/project03/product-3.jpg' %}" alt="" class="img-fluid img-1">
            <div class="feature-desc">
                <h4>HRX Gray Trackpants</h4>
                <div class="rating">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star-half-alt"></i>
                </div>
                <p>&#x20B9 450.00</p>
            </div>
        </div>
        <div class="features-col">
            <img src="{% static 'images/project03/product-4.jpg' %}" alt="" class="img-fluid img-2">
            <div class="feature-desc">
                <h4>Blue Printed T-Shirt</h4>
                <div class="rating">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star-half-alt"></i>
                </div>
                <p>&#x20B9 550.00</p>
            </div>
        </div>
    </div>
