{%load static%}

<div class="footer bg-dark ">
    <div class="container">
        <div class="row">
            <div class="col-md-4 footer-logo">
                <div class="row">
                    <h5>Download Our App</h5>
                    <p>Download App for Android and iOS mobile phone</p>
                    <div class="col-md-2">
                        <img src="{% static 'images/project03/play-store.png' %}" class="img-fluid">
                    </div>
                    <div class="col-md-2">
                        <img src="{% static 'images/project03/app-store.png' %}" class="img-fluid">
                    </div>
                </div>
            </div>

            <div class="col-md-4 brand-logo text-center">
                <img src="{% static 'images/project03/logo-white.png' %}" alt="">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. In, quos facere. Recusandae qui
                    porro
                    perspiciatis?</p>
            </div>
            <div class="col-md-4 text-center">
                <div class="row text-center">
                    <div class="col-md-2 links text-center">
                        <h5>Useful Links</h5>
                        <ul>
                            <li>Coupons</li>
                            <li>Blog Post</li>
                            <li>Return Policy</li>
                            <li>Join Affiliate</li>
                        </ul>
                    </div>
                    <div class="col-md-2 follow text-center">
                        <h5>Follow Us</h5>
                        <ul>
                            <li><i class="fab fa-facebook"></i> Facebook</li>
                            <li><i class="fab fa-twitter"></i> Twitter</li>
                            <li><i class="fab fa-instagram"></i> Instragam</li>
                            <li><i class="fab fa-youtube"></i> Youtube</li>
                        </ul>
                    </div>

                </div>
            </div>
        </div>
        <p class="text-center" id="yt-link">Inspired from <i class="fab fa-youtube"></i> <a
                href="https://www.youtube.com/watch?v=yQimoqo0-7g">Easy Tutorials</a> </p>
    </div>
</div>