{%load static%}

<div class="container">
    <div class="row testimonial-row">
        <div class="testmonial-col col-md-4">
            <i class="fas fa-3x fa-envelope-open-text"></i>
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Totam error rerum dignissimos in,
                voluptatibus vitae nostrum debitis officiis perspiciatis voluptatum?</p>
            <div class="rating">
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star-half-alt"></i>
            </div>
            <div class="rating-img">
                <img src="{% static 'images/project03/user-1.png' %}" class="img-fluid">
            </div>
            <h4>Sean Parker</h4>
        </div>
        <div class="testmonial-col col-md-4">
            <i class="fas fa-3x fa-envelope-open-text"></i>
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Totam error rerum dignissimos in,
                voluptatibus vitae nostrum debitis officiis perspiciatis voluptatum?</p>
            <div class="rating">
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
            </div>
            <div class="rating-img">
                <img src="{% static 'images/project03/user-2.png' %}" class="img-fluid">
            </div>
            <h4>Mike Smith</h4>
        </div>
        <div class="testmonial-col col-md-4">
            <i class="fas fa-3x fa-envelope-open-text"></i>
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Totam error rerum dignissimos in,
                voluptatibus vitae nostrum debitis officiis perspiciatis voluptatum?</p>
            <div class="rating">
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="far fa-star"></i>
            </div>
            <div class="rating-img">
                <img src="{% static 'images/project03/user-3.png' %}" class="img-fluid">
            </div>
            <h4>Mabel Joe</h4>
        </div>
    </div>
</div>