<section class="footer">
    <div class="container-fluid">
        <div class="row">

            <div class="col-md-4 ft-feature">
                <p><b>Quick Links</b></p>
                <ul class="list-unstyled">
                    <li><a href="{%url 'home'%}">Home</a></li>
                    <li><a href="{%url 'home'%}#about-us">About Us</a></li>
                    <li><a href="{%url 'courses'%}">Courses</a></li>
                    <li><a href="{%url 'faculties'%}">Faculty</a></li>

                </ul>
            </div>
            <!-- <div class="vertical-line"></div> -->


            <div class="col-md-4 ft-follow">
                <p><b>Follow Us On</b></p>
                <ul class="list-unstyled">
                    <li><a href=" https://www.facebook.com/profile.php?id=100074092847534" target="_blank"><i
                                class="fab fa-facebook"></i> Facebook</a></li>
                    <li><a href="https://twitter.com/TamilboomiT" target="_blank"><i class="fab fa-twitter"></i>
                            Twitter</a></li>
                    <li><a href=" https://www.instagram.com/tamilboomitechnologies/" target="_blank"><i
                                class="fab fa-instagram"></i> Instragam</a></li>
                    <li><a href="https://www.youtube.com/c/Tamilboomi" target="_blank"><i class="fab fa-youtube"></i>
                            Youtube</a></li>
                </ul>

            </div>


            <!-- <div class="vertical-line1"></div> -->
            <div class="col-md-4 ft-contact ">
                <p><b>Quick Contact</b></p>
                <ul class="list-unstyled mb-0">
                    <li><a href='tel:+919619663272'><i class="fas fa-phone"></i>+91 9619 663 272</a></li>
                    <li><a href='https://wa.me/message/EBWNGVF6IZFMJ1' target="_blank"><i class="fab fa-whatsapp-square"></i>+91 9619 663 272</a></li>
                    <li><a href='mailto: admin@tamilboomi.com'><i class="fas fa-envelope"></i>admin@tamilboomi.com</a>
                    </li>
                    <li><a href='mailto: arumugam@tamilboomi.com'><i
                                class="fas fa-envelope"></i>arumugam@tamilboomi.com</a></li>
                    <!-- <li><a href="https://www.google.com/maps/place/Tamilboomi+Technologies/@13.00233,80.243733,14z/data=!4m5!3m4!1s0x0:0xa0493e42e935dd67!8m2!3d13.0023298!4d80.2437383?hl=en"
                            target="_blank"><i class="fas fa-home"></i>69/37 Bajanai Kovil street, Pallipattu,
                            Tharamani, Chennai, Tamil Nadu. 600113 </a></li> -->
                </ul>
            </div>
        </div>
        <div class="bottom text-center mt-4">
            <span>Designed & Maintained by TamilBoomi FullStack Developement Team</span> <br>
            <span class="mt-4">Copyright © 2021 <a href="{%url 'home'%}" style="color: tomato; text-decoration: underline;">TamilBoomi Technologies </a>. All Rights
                    Reserved. </span>
        </div>
    </div>

</section>