{%extends "lsc_app/base/lsc_app_base.html"%}
{% load static %}

{% block content %}

<div class="container justify-content-center">
    <div class="container-fluid">
        <div class="trainee-add-form col-10 col-sm-10 col-md-10 col-lg-10 col-xl-10  col-xxl-10
                        offset-sm-1 offset-md-1 offset-lg-1 offset-xl-1  offset-xxl-1 offset-1">
            <form id="trainee_add_form"
                class="row g2 mt-5 needs-validation justify-content-center justify-content-sm-center
                        justify-content-md-center justify-content-lg-center justify-content-xl-center justify-content-xxl-center" novalidate>

                {% csrf_token %}
                <h1 class="text-center mt-2">Add Patient Medical Details</h1>

                <!-- First Name -->
                <div class="col-8 col-sm-8 col-md-6 col-lg-6 col-xl-5  col-xxl-5 mt-5 position-relative">
                    <div class="form-floating">
                        <input type="text" class="form-control" id="patientid" placeholder="patient ID" required>
                        <label for="patientid">Patient ID</label>
                        <div class="invalid-tooltip">
                            Provide Patient ID.
                        </div>
                    </div>
                </div>

                <!-- Allergic -->
                <div class="col-8 col-sm-8 col-md-6 col-lg-6 col-xl-5 col-xxl-5 mt-5 position-relative">
                    <div class="form-floating">
                        <input type="text" class="form-control" id="allergic">
                        <label for="allergic">Allergic</label>
                        <div class="invalid-tooltip">
                            Provide Name.
                        </div>
                    </div>
                </div>

                <!-- past-illness -->
                <div class="col-8 col-sm-8 col-md-6 col-lg-6 col-xl-5 col-xxl-5 mt-5 position-relative">
                    <div class="form-floating">
                        <input type="text" class="form-control" id="pastillness">
                        <label for="pastillness">Past-Illness</label>
                        <div class="invalid-tooltip">
                            Provide Name.
                        </div>
                    </div>
                </div>

                 <!-- past-surgery -->
                <div class="col-8 col-sm-8 col-md-6 col-lg-6 col-xl-5 col-xxl-5 mt-5 position-relative">
                    <div class="form-floating">
                        <input type="text" class="form-control" id="pastsurgery">
                        <label for="pastsurgery">Past-Surgery</label>
                        <div class="invalid-tooltip">
                            Provide Name.
                        </div>
                    </div>
                </div>
              <!-- treatment-for -->
                <div class="col-8 col-sm-8 col-md-6 col-lg-6 col-xl-5 col-xxl-5 mt-5 position-relative">
                    <div class="form-floating">
                        <input type="text" class="form-control" id="treatment" required>
                        <label for="treatment">Treatment-for</label>
                        <div class="invalid-tooltip">
                            Provide Name.
                        </div>
                    </div>
                </div>
                <!-- Medication -->
                <div class="col-8 col-sm-8 col-md-6 col-lg-6 col-xl-5 col-xxl-5 mt-5 position-relative">
                    <div class="form-floating">
                        <input type="text" class="form-control" id="medication">
                        <label for="medication">Medication</label>
                        <div class="invalid-tooltip">
                            Provide Name.
                        </div>
                    </div>
                </div>


                <!-- Submit -->
                <div
                    class="col-8 col-sm-8 col-md-8 col-lg-8 col-xl-8 mt-3 col-xxl-8 mb-3 justify-content-center d-flex  py-3">
                    <div class="enroll-btn">
                        <button type="button" class="btn btn-primary" id="add_trainee_btn" onclick="formValidator()">Submit</button>
                    </div>
                </div>


            </form>
        </div>
    </div>

    <!-- modal Dialog box -->
    <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
        aria-labelledby="modal-title" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="modal-title"></h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<!-- For Telephone Number field -->
<script>

    $('#staticBackdrop').on('hidden.bs.modal', function (e) {
        location.reload();
    });
    function formValidator() {
        console.log("form validation")

        'use strict'

        var forms = document.querySelectorAll('.needs-validation')

        var validation = Array.prototype.filter.call(forms, function (form) {
            if (!form.checkValidity()) {
                event.preventDefault()
                event.stopPropagation()
            }
            form.classList.add("was-validated");
        });

        let patientid = document.querySelector('#patientid');
        let allergic = document.querySelector('#allergic');
        let pastillness = document.querySelector('#pastillness');
        let surgery = document.querySelector('#pastsurgery');
        let treatment = document.querySelector('#treatment');
        let medication = document.querySelector('#medication');

        // If form valid then submit the data's
          // If form valid then submit the data's
        if (allergic.checkValidity() === true && patientid.checkValidity() === true &&
           pastillness.checkValidity() === true && surgery.checkValidity() === true &&
           treatment.checkValidity() === true && medication.checkValidity() === true
           ) {

            let patientid = $('#patientid').val()
            let allergic = $('#allergic').val()
            let pastillness = $('#pastillness').val()
            let pastsurgery = $('#pastsurgery').val()
            let treatment = $('#treatment').val()
            let medication = $('#medication').val()

            $.post('', {
                patientid : patientid,
                allergic:allergic,
                pastillness:pastillness,
                pastsurgery:pastsurgery,
                treatment:treatment,
                medication:medication,
                'csrfmiddlewaretoken': '{{ csrf_token }}'
            },
                function (data, status) {
                    console.log(data)
                    // if contact details exist
                    if (data == 409) {
                        console.log(data)
                        $('#modal-title').html('patient ID does not exist!');
                        var myModal = new bootstrap.Modal(document.getElementById('staticBackdrop'), {
                            keyboard: false
                        })
                        myModal.show()
                    }

                    else if (data == 200) {

                        console.log(data)

                        $('#modal-title').html('patient details added successfully!');
                        var myModal = new bootstrap.Modal(document.getElementById('staticBackdrop'), {
                            keyboard: false
                        })
                        myModal.show()
                    }

                });
            return false;
        }

    }

</script>

{%endblock content%}

