*
{
    margin: 0;
    padding: 0;
}
body
{
    background: #fff !important;

}

/* ---------------------Nav Bar---------------------------- */
.navbar
{
    height: 90px;
    /* background-color: rgba(4,9,30,1) !important; */
}
.dropdown-menu
{
    background-color: rgba(0,0,0,0.9) !important;
}
.dropdown:hover .dropdown-menu {
    display: block;
    /* margin-top: 0; // remove the gap so it doesn't close */
 }

.navbar-brand
{
    font-size: 15px !important;
    color: white !important;
}
.nav-link,.dropdown-item
{
    font-size: 18px !important;
    color: white !important;
    width: auto;
    height: auto;
    /* margin: 10px !important; */

}

li:hover .nav-link
{

    border-radius: 10px;
    background-color: #101341 !important;
}
.dropdown-item:hover{
   
    border-radius: 10px;
    background-color: #101341 !important;
}
.sidebar {
  position: fixed;
  top: 0;
  /* rtl:raw:
  right: 0;
  */
  bottom: 0;
  /* rtl:remove */
  left: 0;
  z-index: 100; /* Behind the navbar */
  padding: 48px 0 0; /* Height of navbar */
  box-shadow: inset -1px 0 0 rgba(0, 0, 0, .1);
  width: 150px;
}

.fa-angle-right
  {
      float: right !important;
  }
  
/* Trainer Home */
.tb_track_home
{
  /* width: calc(100% - 250px) !important; */
  margin-left: 100px !important;
  margin-top: 50px;
  padding-left: 100px !important;
}
