{% extends 'lsc_app/base/lsc_app_base.html' %}
{% load static %}

{% block content %}



<div class="container">
    <div class="container-fluid justify-content-center justify-content-sm-center
  justify-content-md-center justify-content-lg-center justify-content-xl-center justify-content-xxl-center">
      <div class="col-11 col-sm-11 col-md-11 col-lg-11 col-xl-11  col-xxl-11 offset-1 offset-md-1 offset-sm-1">
        <div class="row mt-5">
          <div class="text-center">
            <img src="{% static 'lsc_app/lsc_images/aboutimg.jpeg' %}" class="img-fluid" alt="">
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock content %}