{%extends "lsc_app/base/base.html"%}
{%load static%}
{%block content%}

  <!-- banner -->
  <div class="banner container-fluid d-flex align-items-center justify-content-center ">
    <h1 class="text-center"> Ayurvedic Professional Specialities </h1>
  </div>
  <!-- specialities -->
  <div class="container p-0 mt-5">
    <div class="specialities pt-5">
      <div class="specialist-content ">
        <ul>
          <li>We have good infrastructure with clinical platform.</li>
          <li>Epidemiologists in the field of clinical research are in Lakshmi Siddha Team to provide protocol and study
            designs.</li>
          <li>All diseases are diagnosed and treated by analysing the mixture of<strong> VATA,PITTA,KAPA</strong></li>
          <li>Our way of treatment gives importance to the constant use of plants and minerals.</li>
          <li>Siddha medicine has been used for several years for treating chronic diseases and degenerative conditions.
          </li>
          <li>We are trained and experienced in judiciously using the plants and minerals herbs which are proved
            effective over the years.</li>

        </ul>
      </div>
    </div>
  </div>
  <!-- Special treatment -->
  <div class="container mt-5">
    <div class="row d-flex align-items-center justify-content-center justify-self">

      <div class="specialities-head">
        <h1>Kattu</h1>
      </div>

      <div class="col-sm-12 col-lg-6">
        <div class="specialities-img">
          <img src="{% static 'lsc_app/specialist/kattu.jpeg'%}" class="img-fluid" alt="kattu">
        </div>
      </div>

      <div class="col-sm-12 col-lg-6">
        <div class="specialities-body">
          <p class="lh-lg">
            Traditional bone setting practices are quite popular in India & nearly 6000 traditional bone setting
            Vaidyas(Practitioner) are practicing  the same in our country.</li>
            The medicines made of Herbs/Metals, organic  & inorganic salts to the affected areas and bandaging it.

            Raw drugs and medicines like leaves bran etc., are either ground or cooked and tied or bandaged in
            affected part.
            Dry stems of Cissus quadrangularis with juice of Calotropis  gigantea can be applied as a compress in
            small joint swelling.This is related to Rheumatoid  arthritis.</li>
          </p>

        </div>
      </div>
    </div>
  </div>

  <!-- Poochu -->
  <div class="container mt-5">
    <div class="row d-flex align-items-center justify-content-center justify-self">

      <div class="specialities-head">
        <h1>Poochu</h1>
      </div>

      <div class="col-sm-12 col-lg-6">
        <div class="specialities-body">
          <p class="lh-lg">Superficial application of herbal juices or Medicated oil on the affected areas is called as
            Poochu.Applying diluted sandal paste on the body & particularly after tonsuring of head to reduce pitham. A
            poultice is made with the root of Acalypha indica, Amaranthus spinosus & Acorus calamus, added to sesame oil & boiled to prepare
            oil for topical application of carbuncle. Myristica fragrans is charred & carbon is mixed with the sesame oil & applied in neogrowth.
          </p>
        </div>
      </div>

      <div class="col-sm-12 col-lg-6">
        <div class="specialities-img">
          <img src="{% static 'lsc_app/specialist/poochu.jpeg'%}" class="img-fluid" alt="Poochu">
        </div>
      </div>
    </div>
  </div>

  <!-- Peechu -->
  <div class="container mt-5">
    <div class="row d-flex align-items-center justify-content-center justify-self">

      <div class="specialities-head">
        <h1>Peechu</h1>
      </div>

      <div class="col-sm-12 col-lg-6">
        <div class="specialities-img">
          <img src="{% static 'lsc_app/specialist/peechu.jpeg'%}" class="img-fluid" alt="Peechu">
        </div>
      </div>

      <div class="col-sm-12 col-lg-6">
        <div class="specialities-body">
          <p class="lh-lg">Enema using medicated water or medicated oil to evacute rectum & vagina.
            External medicinal applications are Gifts to siddha, which need to be researched & practised with full
            concentration by all siddha doctors to make siddha well flourished, welcomed & reached into the general population.
          </p>
        </div>
      </div>
    </div>
  </div>

  <!-- Podi Thimiral -->
  <div class="container mt-5">
    <div class="row d-flex align-items-center justify-content-center justify-self">

      <div class="specialities-head">

        <h1>Podi Thimiral</h1>
      </div>

      <div class="col-sm-12 col-lg-6">
        <div class="specialities-body ">
          <p class="lh-lg"> External treatment involves rubbing of certain medicated powders either seperately or after
            mixing it with camphor or leaf juice. Substances like horse gram flour, turmeric powder etc., are used. Crush roots of Cassia
            angustifolia(nilavagi) & Buffalo curd mixing together and apply the paste on affected part. Rinse with water & clean using leaf powder of Albizzia amara (usilam).This is repeated for 4 days for
            treating scabies & itching.
          </p>

        </div>
      </div>

      <div class="col-sm-12 col-lg-6">
        <div class="specialities-img">
          <img src="{% static 'lsc_app/specialist/podi thimiral.jpeg'%}" class="img-fluid" alt="Podi thimiral">
        </div>
      </div>

    </div>
  </div>

  <!-- Thokkanam -->
  <div class="container mt-5">
    <div class="row d-flex align-items-center justify-content-center justify-self">

      <div class="specialities-head">

        <h1>Thokkanam</h1>
      </div>

      <div class="col-sm-12 col-lg-6">
        <div class="specialities-img">
          <img src="{% static 'lsc_app/specialist/thokkanam.jpeg'%}" class="img-fluid" alt="kattu">
        </div>
      </div>

      <div class="col-sm-12 col-lg-6">
        <div class="card-body">
          <p class="lh-lg">
            This treatment defined as physical manipulation of body or the massage treatment which is either given to the
            entire body or a particular diseased part.
            There are 9 techniques a. Thattal,b.Irukkal, c. Pidithal, d. Murukal, e.Kaikattal,f.Azhuthal, g. Izhuthal,
            h.Malarthutal,i. Asaithal
            Using varmam points leading to mechanical type of problems in joints & muscles.
          </p>

        </div>
      </div>

    </div>
  </div>


  <!-- Ottradam -->
  <div class="container mt-5 mb-5">
    <div class="row d-flex align-items-center justify-content-center justify-self">
      <div class="specialities-head">

        <h1>Ottradam</h1>
      </div>

      <div class="col-sm-12 col-lg-6">
        <div class="card-body">
          <p class="lh-lg">Ottradam is one of the 32 types of external medicine. Ottradam is the application of hot or
            cold
            packs.
            Normally its done with ayurvedic materials heated to appropriate temperature.
            While throwing out waste as toxins through the skin it also helps disperse aggravated doshams, dilating all
            body channels for cleansing.
            Hot packs uses the pulses, cerals husk, lime, brick poweder, leaves etc., on to around the affected part for
            contusion and other swelling.
          </p>
        </div>
      </div>

      <div class="col-sm-12 col-lg-6">
        <div class="specialities-img">
          <img src="{% static 'lsc_app/specialist/ottradam.jpeg'%}" class="img-fluid" alt="kattu">
        </div>
      </div>

    </div>
  </div>


{%endblock content%}