{% extends 'tb_track_app/index/tb_track_base.html' %}
{% load static %}


{% block content %}
<div class="container text-center">
    <div class="col-md-10 col-10 offset-md-1 my-5">
        <div class="col-12 col-md-12 d-flex flex-row justify-content-between">
            <h1></h1>
            <h1 class="mx-5">Trainer's Details</h1>
            <button type="button" class="btn" id="export" data-export="export"> <span
                    style="font-size: 20px; color: #0d6efd;"><i class="fas fa-file-export"></i></span></button>
        </div>

        <table id="trainers-data" class="table table-bordered nowrap align-middle" style="width:100%">
            <thead>
                <tr>
                    <th scope="col">S.No</th>
                    <th scope="col">Trainer Name</th>
                    <th scope="col">Contact No</th>
                    <th scope="col">Mail Id</th>
                    <th scope="col">Course Name</th>
                    <th scope="col">Language</th>
                    <th scope="col">User Login</th>
                    <th scope="col">salary_percent</th>
                    <th scope="col">Variable Pay</th>
                    <th scope="col">Monthly Salary</th>
                </tr>
            </thead>
            <tbody>
                {% for trainer in trainers %}
                <tr class="w-auto">
                    <td> {{trainer.id}}</td>
                    <td> {{trainer.name}} </td>
                    <td> {{trainer.contact}}</td>
                    <td> {{trainer.email}}</td>
                    <td> {{trainer.course}}</td>
                    <td> {{trainer.language}}</td>
                    <td> {{trainer.user_profile}}</td>
                    <td> {{trainer.salary_percent}}</td>
                    <td> {{trainer.variable_salary_percent}}</td>
                    <td> {{trainer.fixed_monthly_salary}}</td>
                </tr>

                {%endfor%}
            </tbody>
        </table>

    </div>


</div>


<script src="https://code.jquery.com/jquery-3.5.1.js"></script>
<script src="https://cdn.datatables.net/1.10.25/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/1.11.1/js/dataTables.bootstrap5.min.js"></script>
<script src="https://cdn.datatables.net/select/1.3.3/js/dataTables.select.min.js"></script>

<script src="{% static 'js_files/tabletoCSV.js' %}"></script>
<script>
    $(document).ready(function () {

        $('table').DataTable(
            {
                scrollX: true,
                scrollCollapse: true,
                responsive: true,
                // columnDefs: [{
                //     orderable: false,
                //     className: 'select-checkbox',
                //     targets: 0

                // }],
                // select: {
                //     style: 'multi',
                //     selector: 'td:first-child'
                // },

                order: [[0, 'asc']],
                // "columnDefs": [
                //     {
                //         "targets": [1],
                //         "visible": false,
                //         "searchable": false
                //     }
                // ]
            }
        );
    });

    $("#export").click(function () {
        $("table").tableToCSV();
    });

</script>
{% endblock content %}