{%load static%}
<section class="about-page" id="about">

    <div class="container about-container">
        <!------- Top Row ---------->
        <div class="row top-row">
            <div class="title-h1">
            </div>
            <div class="col-md-4 col-xs-4 about-me">
                Intrested in learning new technologies. <br>
                Personally, i hate cinema; but loving it Professionally.
            </div>
            <div class="col-md-4 col-xs-4 snippet">
                <h3><i class="fas fa-hand-point-left"></i> Snippet & contact details <i class="fas fa-hand-point-right"></i></h3>
            </div>
            <div class="col-md-4 col-xs-4 contact">
                <div class="row">
                    <div class="col-auto col-xs-2">
                        <ul>
                            <li> <i class="fas fa-at"></i> arunmadhuk@yahoo.in</li>
                            <li><i class="fab fa-whatsapp"></i> +91-98949-88013</li>
                        </ul>
                    </div>

                    <div class="col-auto col-xs-2">
                        <ul>
                        
                            <li><a href="https://www.linkedin.com/in/arun-madhu-633090174/" target="_blank"><i class="fab fa-linkedin"></i> Arun Madhu</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <!------- Center Row ---------->
        <div class="row center-row">
            <div class="col-md-4 col-sm-4 experience-div">
                <div class="title-left">
                    <h3>Work Experience</h3>
                </div>

                <div class="experience">
                    <h5>2018-PRESENT</h5>
                    <h6>Product Deployment Manager</h6>
                    <h6>GDC Technologies PTE LTD, Singapore</h6>
                    <hr>
                </div>
                <div class="experience">
                    <h5>2015-2018</h5>
                    <h6>Service Manager</h6>
                    <h6>GDC Technologies PTE LTD, Singapore</h6>
                    <hr>
                </div>
                <div class="experience">
                    <h5>2007-2015</h5>
                    <h6>Senior Engineer- Technical Services </h6>
                    <h6>Real Image Media Technologies LTD, Chennai</h6>
                </div>
            </div>
            <div class="col-md-4 col-sm-4 profile-img">
                <div class="logo-div">
                    <img src="{%static 'images/arunmadhu.png'%}" alt="" class="img-fluid profile-png">
                </div>
            </div>
            <div class="col-md-4 col-sm-4 education-div">
                <div class="title-right">
                    <h3>Education</h3>
                </div>
                <div class="education">
                    <h5>Bachelor of Electrical Engineering </h5>
                    <h6>2003-2006</h6>
                    <h6>Vel tech, Anna University, Chennai</h6>
                    <hr>
                </div>

                <div class="education">
                    <h5>Diploma in Electrical Engineering</h5>
                    <h6>2001-2003</h6>
                    <h6>DOTE, Chennai</h6>
                    <hr>
                </div>
            </div>

        </div>
        <!------- Bottom Row ---------->
        <div class="row bottom-row">
            <div class="col-md-3 col-xs-4 bottom-col-left">
                <div class="experience">
                    <div class="title-bottom-left">
                        <h3>Skills</h3>
                    </div>
                    <div class="bottom-row-col">
                        <h6>Analyzing & Troubleshooting</h6>
                        <h6>Quick Learning</h6>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-xs-4 center-col">
                <div class="experience text-center">
                    <div class="bottom-center">
                        <h3>Software</h3>
                    </div>
                    <div class="bottom-row-col">
                        <h6>Python, Django</h6>
                        <h6>HTML, CSS, JavaScript</h6>
                        <h6>Git, Cloud Deployment</h6>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-xs-4 bottom-col-right">
                <div class="experience text-center">
                    <div class="title-bottom-right">
                        <h3>Languages</h3>
                    </div>
                    <div class="bottom-row-col">
                        <h6>Tamil</h6>
                        <h6>English</h6>
                    </div>
                </div>
            </div>
        </div>

    </div>
</section>

<!-- <script>
    const text = document.querySelector('.text p');
    text.innerHTML = text.innerText.split("").map(
        (char, i) =>
            `<span style="transform:rotate(${i * 10}deg)">${char}</span>`).
        join("")

</script> -->
</section>