
{% load static%}
<section class="projects-page" id="projects">

    <div class="container text-center projects-div">
        <h1>Projects Done</h1>
        <div class="row row-cols-sm-4">
            
            <!-- first row -->
            <div class="project-col col-sm-4  col-xs-4 col-lg-4 col-md-4 mt-1">
                <h5>Portfolio</h5>
               <a href="{%url 'project01'%}" target="_blank"><img src="{%static 'images/projects/project_01.png'%}" alt="" class="project-img img-fluid"></a> 
            </div>
            <div class="project-col col-sm-4 col-xs-4 col-lg-4 col-md-4 mt-1">
                <h5>e-Commerce</h5>
                <a href="{%url 'project02'%}" target="_blank"><img src="{%static 'images/projects/project_02.png'%}" alt="" class="project-img img-fluid"></a> 
            </div>
            <div class="project-col col-sm-4 col-xs-4 col-lg-4 col-md-4 mt-1">
                <h5>e-Commerce</h5>
                <a href="{%url 'project03'%}" target="_blank"><img src="{%static 'images/projects/project_03.png'%}" alt="" class="project-img img-fluid"></a> 
            </div>
            <!-- second row -->
            <div class="project-col col-sm-4 col-xs-4 col-lg-4 col-md-4 mt-1">
                <h5>Education</h5>
                <a href="{%url 'project04'%}" target="_blank"><img src="{%static 'images/projects/project_04.png'%}" alt="" class="project-img img-fluid"></a> 
            </div>
            <div class="project-col col-sm-4 col-xs-4 col-lg-4 col-md-4 mt-1">
                <h5>Fashion Store</h5>
                <a href="{%url 'project05'%}" target="_blank"><img src="{%static 'images/projects/project_05.png'%}" alt="" class="project-img img-fluid"></a> 
            </div>
            <div class="project-col col-sm-4 col-xs-4 col-lg-4 col-md-4 mt-1">
                <h5>Travel</h5>
                <a href="{%url 'project06'%}" target="_blank"><img src="{%static 'images/projects/project_06.png'%}" alt="" class="project-img img-fluid"></a> 
            </div>
            <!-- third row -->
            <div class="project-col col-sm-4 col-xs-4 col-lg-4 col-md-4 mt-1">
                <h5>Global Map</h5>
                <a href="{%url 'project07'%}" target="_blank"><img src="{%static 'images/projects/project_07.png'%}" alt="" class="project-img img-fluid"></a> 
            </div>
            <div class="project-col col-sm-4 col-xs-4 col-lg-4 col-md-4 mt-1">
                <h5>Hospital</h5>
                <a href="{%url 'project08'%}" target="_blank"><img src="{%static 'images/projects/project_08.png'%}" alt="" class="project-img img-fluid"></a> 
            </div>
            <div class="project-col col-sm-4 col-xs-4 col-lg-4 col-md-4 mt-1">
                <h5>Restaurant</h5>
                <a href="{%url 'project09'%}" target="_blank"><img src="{%static 'images/projects/project_09.png'%}" alt="" class="project-img img-fluid"></a> 
            </div>

        </div>
    </div>

</section>