{% extends "tb_track_app/index/base.html" %}
{%load static%}
{%block content%}
<div class="container-fluid big-data">
    <div class="course-summary">
        <h1>Big Data Course</h1>
        <p>Big data is a term that describes the large volume of data — both structured and unstructured — that
            inundates a business on a day-to-day basis.</p>
        <b>
            <ul>
                <li>The use of Data analytics by the companies is enhancing every year.</li>
                <li>Big Data involves the use of analytics techniques like machine learning, data mining, natural
                    language processing, and statistics.</li>
                <li>With the help of big data multiple operations can be performed at a single platform.</li>
                <li>You can store Tbs of data, pre process it , analyze the data and visualize the data with the help of couple of big data tools.</li>
            </ul>
        </b>
        <p>If you’re interested to become an expert in Big data, Enroll today to grab your seat !</p>
        <a href="{%url 'enroll'%}" class="btn btn-primary">Enroll Now</a>

    </div>
</div>

<div class="container" style="margin: 50px;">
    <div class="content">
        <h2>Big Data Course</h2>
        <p>The two most common big data courses are hadoop and spark.Hadoop is a platform written in java where we
            can able to process large amount of data.
            Hadoop eco system has lots of tools which
            make processing the bigdata made easy.
        </p>
        <p>Over the past years, Hadoop & Spark has seen
            enormous industry adoption and facing lack of
            skills in the market. To help bridge the gap we
            have designed this course with industry
            expectations with real time examples. This is
            course will help you understand variety of big
            data application development options and let
            you develop your own and Performance tune
            the same
        </p>
    </div>
    <hr>
    <div class="content">
        <h3>What is Big Data?</h3>
        <p>Big Data is a term for an industry that encompasses an ever-evolving set of software for analyzing data sets.
            Not only is Big Data revolutionizing marketing and business, but it's also helping us gain a better
            understanding of our social world.
    </div>
    <hr>
    <div class="content">
        <h3>Why Big Data course at Tamilboomi technologies?</h3>
        <p>Professionals who wants to learn &
            develop Hadoop & Spark applications.
            Professionals who wants to do
            certification (Hortonworks : HDPCD,
            HDPCDSPARK)(Cloudera: CCA175,CCA159).And those are is interested to learn
            about latest technology for their career
            improvement.This course is designed with 50% theory
            and 50% Hands on.You will be given real time POC to solve
            and learn.
        </p>
        <ul>
            <li>you can learn from anywhere in the globe</li>
            <li>Beginner to intermidiate level training</li>
            <li>Convenient batch size (10 to 15 pax)</li>
            <li>A lifetime recording option is available</li>
            <li>Real-world projects have been used to train</li>
            <li>Advice on how to prepare for a job or an interview</li>
        </ul>
    </div>
    <hr>
    <div class="content">
        <h3>Job opportunities in the market</h3>
        <p>Job opportunities with respect to Big Data is good as it is one of the emerging and hot technologies as the
            data volumes are growing rapidly.
            with fullstack course we can go through many opportunities </p>
        <ul>
            <li>Big Data Analyst.</li>
            <li>Hadoop Architect.</li>
            <li>Big Data Architect.</li>
            <li>Data Engineer.</li>
            <li>Data Scientst.</li>
            <li>Hadoop Developer.</li>
            <li>Hadoop Tester.</li>
        </ul>
    </div>


</div>
{%endblock content%}