{% extends "tb_track_app/index/base.html" %}
{%load static%}
{%block content%}
<div class="container-fluid devops">
    <div class="course-summary">
        <h1>Devops Course</h1>
        <p>DevOps knowledge allows you to automate and integrate the development and operations process.</p>
        <b>
            <ul>
                <li>With the implementation of the DevOps approach, every company can easily automate their tasks from
                    small to complex effortlessly.</li>
                <li>The security concerns increase whenever you automate your system or application.</li>
                <li>DevOps has improved the product development process and also reduces the chances of failure.</li>
                <li>With AI/ML integration, devops has changed the software development picture.</li>
            </ul>
        </b>
        <p>If you’re interested to become an expert in devops, Enroll today to grab your seat !</p>
        <a href="{%url 'enroll'%}" class="btn btn-primary">Enroll Now</a>

    </div>
</div>
<div class="container" style="margin: 50px;">
    <div class="content">
        <h2>Cloud- Devops Course</h2>
        <p>A Professional Cloud Devops Engineer is responsible for efficient development operations that can balance
            service reliability and delivery speed. They are skilled at using Google Cloud to build software delivery
            pipelines, deploy and monitor services, and manage and learn from incidents.
        </p>
        <p>Devops is a development strategy that sits in the gap between software development and IT infrastructure. It
            brings the agile process used in development to the deployment process so that new features and bug fixes go
            live as soon as possible.
            The Devops course syllabus spans several topics which are considered vital for the fundamental understanding
            of the domain. It is designed to cover the intrinsic segments as well, such as the history of Devops,
            objectives, software development life cycle, virtual development and management tools.
        </p>
    </div>
    <hr>
    <div class="content">
        <h3>What is Cloud- Devops?</h3>
        <p>Devops is the automation of agile methodology. The idea is to empower developers to respond to the needs of
            the business in near real-time.Most public and private cloud computing providers support DevOps systemically
            on their platform, including continuous integration and continuous development tools.</p>
    </div>
    <hr>
    <div class="content">
        <h3>Why Cloud- Devops course at Tamilboomi technologies?</h3>
        <p>Build your knowledge in one or more cloud technologies including Amazon Web Services, Google Cloud Platform,
            Terraform, or Microsoft Azure.
            Build your knowledge of industry–relevant coding languages.And those are is interested to learn
            about latest technology for their career improvement.This course is designed with 50% theory
            and 50% Hands on.You will be given real time POC to solve and learn.</p>
        <ul>
            <li>you can learn from anywhere in the globe</li>
            <li>Beginner to intermidiate level training</li>
            <li>Convenient batch size (10 to 15 pax)</li>
            <li>A lifetime recording option is available.</li>
            <li>Real-world projects have been used to train.</li>
            <li>Advice on how to prepare for a job or an interview</li>
        </ul>
    </div>
    <hr>
    <div class="content">
        <h3>Job opportunities in the market</h3>
        <p>Devops has a promising future with numerous solutions to IT problems. Well, there is no doubt that Devops
            experts are highly paid and dedicated. Devops is a great approach that is now adopted by many IT companies
            to provide reliable and faster solutions to their clients.
            with devops course we can go through many opportunities </p>
        <ul>
            <li>Devops Architect.</li>
            <li>Release Manager.</li>
            <li>Security Engineer.</li>
            <li>Automation Engineer.</li>
            <li>Software Tester.</li>
            <li>Integration Specialist.</li>
        </ul>
    </div>


</div>
{%endblock content%}