{% extends "tb_track_app/index/base.html" %}
{%load static%}
{%block content%}

<div class="container-fluid">
    <div class="row">
        <h1 class="text-center mt-5" style="color: #F36416;">Tamil Boomi Faculty Team</h1>
        <div class="card faculty" style="width: 18rem;">
            <img class="card-img-top img-fluid" src="{%static 'images/trainer-avatar.jpg'%}" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">Mr.Karthik Sivaraman</h5>
                <h6 class="text-center mt-3">Full Stack Trainer</h6>
                <p>He has more than 6 years of real-world experience in fullstack development,
                    has worked on numerous freelance projects, and teaching is his passion.</p>
            </div>
        </div>
        <div class="card faculty" style="width: 18rem;">
            <img class="card-img-top img-fluid" src="{%static 'images/trainer-avatar.jpg'%}" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">Mr.Abdulla</h5>
                <h6 class="text-center mt-3">Snow Flake Trainer</h6>
                <p>He has more than 6 years of real-world experience in fullstack development,
                    has worked on numerous freelance projects, and teaching is his passion.</p>
            </div>
        </div>
        <div class="card faculty" style="width: 18rem;">
            <img class="card-img-top img-fluid" src="{%static 'images/trainer-avatar.jpg'%}" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">Mr.Usman</h5>
                <h6 class="text-center mt-3">Big Data Trainer</h6>
                <p>He has more than 6 years of real-world experience in fullstack development,
                    has worked on numerous freelance projects, and teaching is his passion.</p>
            </div>
        </div>
        <div class="card faculty" style="width: 18rem;">
            <img class="card-img-top img-fluid" src="{%static 'images/trainer-avatar.jpg'%}" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">Mr.Sudarshan</h5>
                <h6 class="text-center mt-3">Devops Trainer</h6>
                <p>He has more than 6 years of real-world experience in fullstack development,
                    has worked on numerous freelance projects, and teaching is his passion.</p>
            </div>
        </div>

    </div>
</div>

{%endblock content%}
