{% extends "tb_track_app/index/base.html" %}
{%load static%}
{%block content%}
<div class="container-fluid full-stack">
    <div class="course-summary">
        <h1>FullStack Development Course</h1>
        <p>Full-stack development can seem overwhelming to anyone. After all, you’ll have to learn double the
            information a front-end or a back-end developer has to learn.</p>
        <b>
            <ul>
                <li>The demand for full-stack developers is high.</li>
                <li>You will get higher pay because of reduce operating costs for the company.</li>
                <li>You know about multiple aspects of development.</li>
                <li>As a full-stack developer, you know of multiple technologies.</li>
                <li>The demand for full-stack developers will steadily increase in the market as new technologies enter.
                </li>
            </ul>
        </b>
        <p>If you’re interested to become a full stack developer, Enroll today to grab your seat !</p>
        <a href="{%url 'enroll'%}" class="btn btn-primary">Enroll Now</a>

    </div>
</div>

<div class="container" style="margin: 50px;">
    <div class="content">
        <h2>Fullstack Development Course</h2>
        <p>A full stack web development course will teach you how to design and develop complete websites from start to
            finish. You will learn how to work on different aspects of web development including front-end, back-end,
            databases, debugging, testing, version control and other essential technologies.
        </p>
        <p> It refers to the development of both front end(client side) and back end(server side) portions of web
            application.They work on the frontend, backend, database and debugging of web application or websites.
            Full-stack Web Development courses offered through Coursera equip learners with knowledge in building web,
            hybrid, and mobile solutions. understanding front-end frameworks such as Bootstrap 4 and Angular.
        </p>
    </div>
    <hr>
    <div class="content">
        <h3>What is Fullstack?</h3>
        <p> The entire computer system or application from the front end to the back end and the code that connects the
            two. The back end of a computer system encompasses the technologies such as the database and operating
            system.
            Full stack technology refers to the entire depth of a computer system application, and full stack developers
            straddle two separate web development domains: the front end and the back end. The front end includes
            everything that a client, or site viewer, can see and interact with.
        </p>
    </div>
    <hr>
    <div class="content">
        <h3>Why Fullstack course at Tamilboomi technologies?</h3>
        <ul>
            <li>you can learn from anywhere in the globe</li>
            <li>Beginner to intermidiate level training</li>
            <li>Convenient batch size (10 to 15 pax)</li>
            <li>A lifetime recording option is available.</li>
            <li>Real-world projects have been used to train.</li>
            <li>Advice on how to prepare for a job or an interview</li>
        </ul>
    </div>
    <hr>
    <div class="content">
        <h3>Job opportunities in the market</h3>
        <p>With the increasing demand for software development, most companies are on a constant look out to hire full
            stack developers who have a good knowledge of different languages and can adapt the new technology well.
            Most recruiters demand professionals who can plan, organize, direct and control the entire process of web
            application development. As India is a growing economy hence, here is a great scope for the full stack
            development jobs as companies want professionals who are able to comprehend well and solve issues at various
            stages of web development
            with fullstack course we can go through many opportunities. </p>
        <ul>
            <li>Front End Developer</li>
            <li>Back End Developer</li>
            <li>Python Developer</li>
            <li>Django FrameWork Developer</li>
            <li>Devops Engineer</li>
            <li>Fullstack Developer</li>
            <li>Web Developer</li>
            <li>Web Designer</li>
        </ul>
    </div>


</div>

{%endblock content%}