{% extends "tb_track_app/index/base.html" %}
{%load static%}
{%block content%}
<div class="container-fluid snowflake">
    <div class="course-summary">
        <h1>Snow Flake Course</h1>
        <p>Snowflake is a cloud data platform. To be more specific it’s the first cloud built data platform.</p>
        <b>
            <ul>
                <li>Snowflake is not limited to one specific cloud provider.</li>
                <li>Snowflake is built for performance. </li>
                <li>Snowflake’s UI/UX is easy to use and also very feature-rich.</li>
                <li>Cloud services often require less administration overhead.</li>
                <li>Another great reason to migrate to Snowflake is because of the many technical features it offers
                    end-users.</li>
            </ul>
        </b>
        <p>If you’re interested on doing course on snow flake, Enroll today to grab your seat !</p>
        <a href="{%url 'enroll'%}" class="btn btn-primary">Enroll Now</a>

    </div>
</div>
<div class="container" style="margin: 50px;">
    <div class="content">
        <h2>Snow Flake Course</h2>
        <p>The Snowflake course content is designed by the industry experts to enable the learners with comprehensive
            knowledge of all the basics of the Snowflake data warehouse platform. Our trainers will help you acquire
            hands-on experience with Snowflake and keeps you updated with the latest developments.<br>The Snowflake data
            platform is not built on any existing database technology or “big data” software platforms such as Hadoop.
            Instead, Snowflake combines a completely new SQL query engine with an innovative architecture natively
            designed for the cloud. To the user, Snowflake provides all of the functionality of an enterprise analytic
            database, along with many additional special features and unique capabilities.
        </p>

    </div>
    <hr>
    <div class="content">
        <h3>What is Snow Flake?</h3>
        <p>Snowflake is a cloud-based Data Warehouse solution provided as a Saas (Software-as-a-Service) with full
            support for ANSI SQL. It also has a unique architecture that enables users to just create tables and start
            querying data with very less administration or DBA activities needed.</p>
    </div>
    <hr>
    <div class="content">
        <h3>Why Snow Flake course at Tamilboomi technologies?</h3>
        <p>Snow flake is a special application that is much faster than the other competitive data warehousing as it
            works on Big data unlike others that work on Big Data. The main advantage in snowflakes is that the users
            can track the changes in date over a date range of up to 90 days.This course is designed with 50% theory and
            50% Hands on.You will be given real time POC to solve and learn.</p>
        <ul>
            <li>you can learn from anywhere in the globe</li>
            <li>Beginner to intermidiate level training</li>
            <li>Convenient batch size (10 to 15 pax)</li>
            <li>A lifetime recording option is available.</li>
            <li>Real-world projects have been used to train.</li>
            <li>Advice on how to prepare for a job or an interview</li>
        </ul>
    </div>
    <hr>
    <div class="content">
        <h3>Job opportunities in the market</h3>
        <p>Snowflake is emerging as a strong competitor against the more prominent names in Gartner’s Magic Quadrant —
            such as Amazon Redshift and Google BigQuery — particularly for their pricing model, which gives companies
            with smaller budgets an opportunity to leverage a powerful querying system without big name costs.
            With snowflake course we can go through many opportunities </p>
        <ul>
            <li>Snow flake Developer</li>
            <li>Analyst-Contracts Management.</li>
            <li>Partner Account Manager.</li>
            <li>Accountant-Accruals and Prepaids Accounting.</li>
            <li>Enterprise Account Executive.</li>
            <li>Senior Sales Engineer.</li>
            <li>Enterprise Account Executive.</li>
            <li>Solutions Architect.</li>


        </ul>
    </div>


</div>
{%endblock content%}