


<li class="nav-item dropend">
  <a class="nav-link" data-bs-toggle="dropdown" href="#" role="button" aria-expanded="false">Trainees<i
      class="fas fa-angle-right"></i></a>
  <ul class="dropdown-menu">
    <li class="nav-item"><a class="dropdown-item" href="{%url 'trainee-new'%}">Add</a></li>
    <li class="nav-item"><a class="dropdown-item" href="#">Modify</a></li>
    <li class="nav-item"><a class="dropdown-item" href="{%url 'trainees-details'%}">Summary</a></li>
  </ul>
</li>

<li class="nav-item dropend">
  <a class="nav-link" data-bs-toggle="dropdown" href="#" role="button" aria-expanded="false"> Attendance<i
      class="fas fa-angle-right"></i></a>
  <ul class="dropdown-menu">
    <li class="nav-item"><a class="dropdown-item" href="{%url 'trainer-attendance'%}">Manage</a></li>
    <li class="nav-item"><a class="dropdown-item" href="#">Modify</a></li>
    <li class="nav-item"><a class="dropdown-item" href="{%url 'trainer-attendance-summary'%}">Summary</a></li>
  </ul>
</li>