{%block content%}

<hr>

<!-- Footer -->

<section class="footer-section">
  <div class="container footer" data-aos="fade-up" data-aos-duration="1000" data-aos-easing="ease-in-sine">
    <div class="row ">
      <div class="col-sm-12 col-md-6 col-lg-6 col-xl-3 mx-auto mt-5 why-choose-us">
        <h5 class="text-uppercase mb-4 font-weight-bold " style="color: #FF9933;">Why choose us?</h5>
        <p style="color: #000080;">As a <i> holistic centre</i> to care for and heal infants, children and women, we
          define ourselves as a community
          health provider with patient-centric care and value for money to all sections of society.</p>
        <a href="#"><img src="/static/lsc_app/lsc_images/logo.jpeg" alt="logo" width="50%"></a>

      </div>
      <div class="col-sm-12 col-md-6 col-lg-6 col-xl-2 mx-auto mt-5 quick-links">
        <h5 class="text-uppercase mb-3 font-weight-bold" style="color: #FF9933;">Quik Links</h5>
        <p><a href="" style="text-decoration: none; color: #000080;">Articles</a></p>
        <p><a href="" style="text-decoration: none; color: #000080;">About Us</a></p>
        <p><a href="" style="text-decoration: none; color: #000080;">Specialties</a></p>
        <p><a href="" style="text-decoration: none; color: #000080;">Weight Loss</a></p>
        <p><a href="" style="text-decoration: none; color: #000080;">Yoga For Back Pain</a></p>
        <p><a href="" style="text-decoration: none; color: #000080;">Our Methodology</a></p>
        <p><a href="" style="text-decoration: none; color: #000080;">About Siddha</a></p>
      </div>
      <div class="col-sm-12 col-md-6 col-lg-6 col-xl-3 mx-auto mt-5 reach-us">
        <h5 class="text-uppercase mb-4 font-weight-bold" style="color: #FF9933;">Reach Us</h5>
        <p style="color: #000080;"><b style="color: #FF9933;">Phone :</b> <a href="tel:+919677129511"
            style="text-decoration: none; color: #000080;">+91 9677129511</a></p>
        <p style="color: #000080;"><b style="color: #FF9933;">Email :</b> <a
            href="mailto:treatment@lakshmisiddhaclinic.com"
            style="text-decoration: none; color:#000080;">treatment@lakshmisiddhaclinic.com</a></p>
        <p style="color:#000080"><b style="color: #FF9933;">Address :</b> No. 3/153, Main road Kanagapillai, Valasai ,
          Tenkasi - 627803.</p>
        <p style="color: #000080;"><b style="color: #FF9933;">Opening Time :</b> 10:00 AM-1:00 PM, 6:00 PM-9:00 PM</p>

      </div>
      <div class="col-sm-12 col-md-6 col-lg-6 col-xl-2 mx-auto mt-5 follow-us">
        <h5 class="text-uppercase mb-4 font-weight-bold" style="color: #FF9933;">Follow Us</h5>
        <div class="row p-3">
          <div class="col-4 col-sm-4 col-md-4 col-lg-4 mb-2">
          <a href="" style="text-decoration: none; color: #000080;"><i
                  class="fa fa-twitter"></i></a></p>
          </div>

          <div class="col-4 col-sm-4 col-md-4 col-lg-4 mb-2">

            <a href="" style="text-decoration: none; color: #000080;"><i
                  class="fa fa-facebook-official"></i></a></p>
          </div>
          <div class="col-4 col-sm-4 col-md-4 col-lg-4  mb-2">

            <a href="" style="text-decoration: none; color: #000080;"><i
                  class="fa fa-google"></i></a></p>
          </div>
          <div class="col-4 col-sm-4 col-md-4 col-lg-4">
            <a href="" style="text-decoration: none; color: #000080;"><i
                  class="fa fa-instagram"></i></a></p>
          </div>
          <div class="col-4 col-sm-4 col-md-4 col-lg-4">
            <a href="" style="text-decoration: none; color: #000080;"><i
                  class="fa fa-linkedin"></i></a></p>
          </div>
          <div class="col-4 col-sm-4 col-md-4 col-lg-4">
            <a href="" style="text-decoration: none; color: #000080;"><i
                  class="fa fa-youtube"></i></a></p>
          </div>
        </div>

      </div>
    </div>
  </div>
  <p class="mt-5 mb-3 text-center p-2" style="background-color: #068440; color: white;">Copyrights @ Lakshmi
    Siddha Clinic - 2021
  </p>
</section>

{%endblock content%}