<li class="nav-item dropend">
  <a class="nav-link" data-bs-toggle="dropdown" href="#" role="button" aria-expanded="false">User Logins<i
      class="fas fa-angle-right"></i></a>
  <ul class="dropdown-menu">
    <li class="nav-item"><a class="dropdown-item" href="{%url 'signup'%}">Create New</a></li>
    <li class="nav-item"><a class="dropdown-item" href="{%url 'reset-password'%}">Reset Password</a></li>
    <li class="nav-item"><a class="dropdown-item" href="{%url 'login-summary'%}">Summary</a></li>
  </ul>
</li>
<li class="nav-item">
  <a class="nav-link" aria-current="page" href="{%url 'md-new'%}">Create MD</a>
</li>

<li class="nav-item dropend">
  <a class="nav-link" data-bs-toggle="dropdown" href="#" role="button" aria-expanded="false">Blog<i
      class="fas fa-angle-right"></i></a>
  <ul class="dropdown-menu">
    <li class="nav-item"><a class="dropdown-item" href="/admin/lsc_app/blog/add">Create New</a></li>
    <li class="nav-item"><a class="dropdown-item" href="/admin/lsc_app/blog">Summary</a></li>
  </ul>
</li>

<li class="nav-item dropend">
  <a class="nav-link" data-bs-toggle="dropdown" href="#" role="button" aria-expanded="false">Doctor<i
      class="fas fa-angle-right"></i></a>
  <ul class="dropdown-menu">
    <li class="nav-item"><a class="dropdown-item" href="{%url 'addDoctor'%}">Add</a></li>
    <li class="nav-item"><a class="dropdown-item" href="#">Edit</a></li>
    <li class="nav-item"><a class="dropdown-item" href="{%url 'doctorsummary'%}">Summary</a></li>
  </ul>
</li>
<li class="nav-item dropend">
  <a class="nav-link" data-bs-toggle="dropdown" href="#" role="button" aria-expanded="false">Therapist<i
      class="fas fa-angle-right"></i></a>
  <ul class="dropdown-menu">
    <li class="nav-item"><a class="dropdown-item" href="{%url 'addTherapist'%}">Add</a></li>
    <li class="nav-item"><a class="dropdown-item" href="#">Edit</a></li>
    <li class="nav-item"><a class="dropdown-item" href="{%url 'therapistsumm'%}">Summary</a></li>
  </ul>
</li>
<li class="nav-item dropend">
  <a class="nav-link" data-bs-toggle="dropdown" href="#" role="button" aria-expanded="false">Receptionist<i
      class="fas fa-angle-right"></i></a>
  <ul class="dropdown-menu">
    <li class="nav-item"><a class="dropdown-item" href="{%url 'addReceptionist' %}">Add</a></li>
    <li class="nav-item"><a class="dropdown-item" href="#">Edit</a></li>
    <li class="nav-item"><a class="dropdown-item" href="{%url 'recepsummary'%}">Summary</a></li>
  </ul>
</li>
<li class="nav-item dropend">
  <a class="nav-link" data-bs-toggle="dropdown" href="#" role="button" aria-expanded="false">Patient<i
      class="fas fa-angle-right"></i></a>
  <ul class="dropdown-menu">
    <li class="nav-item"><a class="dropdown-item" href="{%url 'addpatientdetails'%}">Add</a></li>
    <li class="nav-item"><a class="dropdown-item" href="#">Edit</a></li>
    <li class="nav-item"><a class="dropdown-item" href="{%url 'patientsumm'%}">Summary</a></li>
  </ul>
</li>
<li class="nav-item dropend">
  <a class="nav-link" data-bs-toggle="dropdown" href="#" role="button" aria-expanded="false">Appointments<i
      class="fas fa-angle-right"></i></a>
  <ul class="dropdown-menu">
    <li class="nav-item"><a class="dropdown-item" href="{%url 'apptmtsumm'%}">Summary</a></li>
  </ul>
</li>