{% extends 'mss_app/base/base.html' %}
{% load static %}
{% block content %}


<div class="container justify-content-center mt-4 col-11">

    {% csrf_token %}
    <h4 class="mt-4 text-center">Auto Refill Transactions</h4>

    <div class="mx-5 pb-5 mt-5">

        <div class="table-responsive">
            <table id="mcash-data" class="table table-sm table-bordered align-middle" style="width:100%">
                <thead>
                    <tr>
                        <th scope="col">S.No</th>
                        <th scope="col">FSE Msisdn</th>
                        <th scope="col">FSE Name</th>
                        <th scope="col">Retailer Msisdn</th>
                        <!-- <th scope="col">Contact Name</th> -->
                        <!-- <th scope="col">Retailer Name</th> -->
                        <th scope="col">Retailer Name</th>
                        <th scope="col">Trans. Id</th>
                        <th scope="col">Refill Date</th>

                        <th scope="col">Transfered Amount</th>
                        <th scope="col">Collectable Amount</th>
                        <th scope="col">Status</th>
                        <th scope="col">Collected On</th>
                        <th scope="col">Remarks</th>
                    </tr>
                </thead>
                <tbody>
                    {% for debit in debittransactions %}
                    <tr class="w-auto">
                        <td class="text-center"> {{debit.id}}</td>
                        <td class="text-center"> {{debit.fse_msisdn}}</td>
                        <td class="text-center"> {{debit.fse_name}} </td>
                        <td class="text-center"> {{debit.retailer_msisdn}}</td>
                        <!-- <td class="text-center">  {{debit.client.contact_name}}</td> -->
                        <!-- <td class="text-center"> {{debit.retailer_name}}</td> -->
                        <td class="text-center"> {{debit.profile}}</td>
                        <td class="text-center"> {{debit.transaction_id}}</td>
                        <td class="text-center"> {{debit.auto_refill_date}}</td>

                        <td class="text-center"> {{debit.transferred_amount}}</td>
                        <td class="text-center"> {{debit.collectable_amount}}</td>
                        <td class="text-center"> {{debit.status}}</td>
                        <td class="text-center"> {{debit.collected_on}}</td>
                        <td class="text-center"> {{debit.remarks}}</td>
                    </tr>

                    {%endfor%}
                </tbody>
            </table>
        </div>
    </div>
    <div class="div pb-5"></div>
</div>

</div>
<!--  -->

<script src="https://code.jquery.com/jquery-3.5.1.js"></script>
<script src="https://cdn.datatables.net/1.10.25/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/1.11.1/js/dataTables.bootstrap5.min.js"></script>
<script src="https://cdn.datatables.net/select/1.3.3/js/dataTables.select.min.js"></script>

<style>
    td,th
    {
        font-size: 13px;
    }
</style>

<script>
    $(document).ready(function () {

        $('table').DataTable(
            {
                scrollX: true,
                scrollCollapse: true,
                responsive: true,
                order: [[0, 'asc']],

            }
        );
    });

</script>
{% endblock content %}